:root {
  --grey: #312f2f;
}

.item-list-container {
  display: flex;
  width: 90%;
  max-width: 1920px;
  margin: auto;
  padding-top: 90px;
  flex-direction: column;
}

.container-greeting {
  font-size: 40px;
  margin: auto;
  padding-top: 25px;
  color: var(--grey);
}

.itemList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
