:root {
  --grey: #312f2f;
}

.item {
  width: 300px;
  height: 559px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.item img {
  width: 300px;
  border-radius: 3px;
  transition: box-shadow 0.3s;
}

.item-title {
  padding-top: 5px;
  font-size: 30px;
  text-align: center;
  color: var(--grey);
  padding-bottom: 5px;
  transition: all 0.2s ease-in-out;
}

.item-title:hover {
  color: rgb(194, 80, 72);
}

.item h4 {
  font-size: 22px;
  text-align: center;
  color: var(--grey);
}

.item:hover img {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.item:hover .item-title {
  color: rgb(194, 80, 72);
}

.loading {
  text-align: center;
  font-size: 40px;
  line-height: 559px;
}
