:root {
  --grey: #312f2f;
}

.home-container {
  padding-top: 90px;
  width: 90%;
  height: 100%;
  margin: auto;
  max-width: 1920px;
}

.section-background {
  width: 80%;
  margin: auto;
  background: linear-gradient(
    #bdbdbd,
    #c8c8c8,
    #cbcbcb,
    #cbcbcb,
    #c5c5c5,
    #bebebe,
    #b5b5b5,
    #adaead,
    #a1a1a1
  );
}

.home-section {
  background: url(/src/images/background-mujer-1.jpg) no-repeat center
    center/cover;
  background-size: 570px;
  height: 700px;
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  background-position: 0px;
}

.a単o-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-right: 120px;
}

.home-section h2 {
  color: var(--grey);
  font-size: 70px;
  text-align: center;
}

.a単o-section h2:first-child {
  padding-bottom: 10px;
}

.a単o-section h2:last-of-type {
  padding-bottom: 50px;
}

.a単o-section p {
  color: var(--grey);
  font-size: 35px;
  /* padding-top: 10px; */
  text-align: center;
  line-height: 1.9;
}

.home-section2 {
  background: rgb(197, 195, 195);
  background-size: contain;
  width: 80%;
  height: 700px;
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}
