:root {
  --grey: #312f2f;
}

.home-container {
  padding-top: 90px;
  width: 70%;
  height: 100%;
  margin: auto;
  max-width: 1920px;
}

.section-background {
  width: 80%;
  margin: auto;
  background: linear-gradient(
    #bdbdbd,
    #c8c8c8,
    #cbcbcb,
    #cbcbcb,
    #c5c5c5,
    #bebebe,
    #b5b5b5,
    #adaead,
    #a1a1a1
  );
}

.home-section {
  background-image: url("../../images/background-mujer-1.jpg");
  background-repeat: no-repeat;
  background-size: 570px;
  height: 700px;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  background-position: 0px;
}

span {
  color: rgb(212, 138, 76);
}

.año-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-left: 230px;
}

.home-section h2 {
  color: var(--grey);
  font-size: 70px;
  font-weight: 300;
  text-align: center;
}

.año-section h2:first-child {
  padding-bottom: 10px;
}

.año-section h2:last-of-type {
  padding-bottom: 50px;
}

.año-section p {
  color: var(--grey);
  font-size: 35px;
  padding-top: 10px;
  text-align: center;
  line-height: 1.9;
  font-weight: 300;
}

.home-section2 {
  background: rgb(197, 195, 195);
  background-size: contain;
  width: 80%;
  height: 700px;
  margin-top: 20px;
  margin-bottom: 80px;
  display: flex;
  justify-content: flex-end;
  margin: auto;
}

.section-background-two {
  background-image: url("../../images/photo5064747713618356472.jpg");
  background-repeat: no-repeat;
  width: 80%;
  margin: auto;
  height: 700px;
}

.section-background-two div {
  width: 300px;
  display: flex;
  padding-top: 50px;
  padding-left: 50px;
  flex-direction: column;
}

.section-background-two h2 {
  font-size: 60px;
  color: white;
  font-weight: 100;
}

.no-gender {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.no-gender h2 {
  font-size: 75px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  width: 100%;
  text-align: center;
  font-weight: 100;
}

.home-container button {
  background-color: rgb(255, 255, 255);
  height: 60px;
  border: none;
}

.home-container a {
  width: 180px;
  height: 60px;
}

.home-container button:hover span {
  color: white;
}

.home-container button:hover {
  background: rgb(158, 156, 156);
}
