:root {
  --grey: #312f2f;
}

.navbar {
  display: flex;
  position: absolute;
  align-items: center;
  /* justify-content: space-around; */
  width: 100%;
  background-color: rgb(203 203 203);
  height: 80px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin-left: 900px;
}

.navbar ul a {
  font-size: 1.25em;
  text-transform: capitalize;
  margin-left: 85px;
  border: 2px solid transparent;
}

.navbar a {
  text-decoration: none;
  color: var(--grey);
}

.brand-name {
  display: flex;
  background: rgb(212, 138, 76);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 100%;
  align-items: center;
}

.navbar a:hover {
  border-bottom: 2px solid rgb(212, 138, 76);
}

.simpleShop {
  margin-left: 150px;
  color: rgb(70 68 68);
  font-size: 2em;
  padding-left: 100px;
  padding-right: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.simpleShop:hover {
  color: rgb(0, 0, 0);
}

#cartWidget {
  margin-left: 900px;
  border: none;
  left: 474px;
  position: absolute;
}
