:root {
  --grey: #312f2f;
}

.navbar {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  /* justify-content: space-around; */
  width: 100%;
  background-color: rgb(203 203 203);
  height: 80px;
  transition: 0.2s all ease-in;
  z-index: 1;
}

.navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar ul a {
  font-size: 1.25em;
  text-transform: capitalize;
  margin-left: 85px;
  border: 2px solid transparent;
}

.navbar a {
  text-decoration: none;
  color: var(--grey);
}

.navbar:hover {
  opacity: 1;
}

.brand-name {
  display: flex;
  background: rgb(212, 138, 76);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 100%;
  align-items: center;
}

.navbar a:hover {
  border-bottom: 2px solid rgb(212, 138, 76);
}

.simpleShop {
  margin-left: 150px;
  color: rgb(70 68 68);

  font-size: 35px;

  padding-left: 50px;
  padding-right: 20px;
  cursor: pointer;
  font-weight: 100;
  padding-bottom: 6px;
  transition: all 0.5s ease;
}

.simpleShop:hover {
  color: rgb(0, 0, 0);
}

.user-section {
  display: flex;
  align-items: center;
  width: 410px;
  justify-content: flex-end;
  padding-right: 40px;
}

#cartWidget {
  border: none;
  padding-right: 24px;
  padding-bottom: 5px;
}

#profile-link {
  border: 1px solid transparent;
}

#profile-link .user-profile-link {
  width: 35px;
  border-radius: 50%;
}

.active {
  opacity: 0.5;
}
